@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.pratik {
    position: fixed;


    justify-content: space-between;
    display: flex;


    gap: 30px;


    border: 20px;
    background-color: #FFFFFF;
    padding-left: 40px;
    width: 80%;
    top: 50px;
    align-items: center;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: 100;


}

.text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 30px;
    cursor: pointer;

    border: 50px;

}

.pic {
    height: 729px;
    position: relative;
}

.png {
    width: 100%;
    height: 100%;
    object-fit: cover;



}

.logo {
    font-family: "Open Sans", sans-serif;

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;


    font-weight: 800;
}

.phoneno {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    /* height: 20px; */
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFB606;
    padding: 45px;
    color: aliceblue;

}

.don {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    right: 0px;
    flex-direction: column;

    top: 0px;
    height: 100%;
    width: 100%;
    padding-top: 100px;



}

.don h1 {


    font-family: Roboto, sans-serif;

    font-size: 72px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 86.4px;
    padding-top: 40px;


}

.title span {
    background-color: #FFB606;
    padding: 6px 24px;
}

.ich {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    gap: 30px;



}

.kai {
    color: #FFFFFF;
    background-color: #1A1A1A;

    display: flex;

    padding: 50px;
    position: relative;
    align-items: center;
    justify-content: last baseline;
    gap: 23px;
    cursor: pointer;
    line-height: 21px;




}

.ray {
    color: #FFFFFF;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: last baseline;

}

.ishowspeed {
    color: #FFFFFF;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: last baseline;
}

.pewdiepei {
    height: 10px;
    font-size: 17px;
    cursor: pointer;
    line-height: 20px;


}

.drake {
    height: 10px;
    font-size: 17px;
    cursor: pointer;
    line-height: 18px;


}

.future {
    height: 10px;
    font-size: 17px;
    cursor: pointer;
    line-height: 18px;

}

.eminem {
    color: #FFB606;
}

.roddyrich {
    color: #FFB606;
}

.nle {
    color: #FFB606;
}

.kai:hover {
    background-color: #FFB606;
}

.kai:hover .eminem {
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}

.logotext {
    color: #3A3A3A;
}

.text a:hover {
    color: #FFB606;
}

/* .om {
    line-height: 29px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;


} */

.om {
    

    display: flex;
    flex-direction: column;
    gap: 8px;


}

.naruto {

    display: flex;
    flex-direction: column;
    gap: 8px;


}

.asaprocky {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.itachi {
    font-family: Roboto, sans-serif;

    cursor: pointer;
    position: relative;
    z-index: 1;
    text-align: center;
    /* padding-top: 100px; */
    color: #1A1A1A;
    margin: 70px;
    margin-top: 50px;
    contain: "";
    content: "";
    height: 100%;
    /* background-color: green; */


}

.itachi h1 {
    font-size: 36px;
    height: 50px;
    size: 10px;
}

.orochimaru {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

}

.hashirama {
    content: "";
    contain: "";
    height: 8px;
    width: 60px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #FFB606;


}
.dojacat{
  content: "";
    contain: "";
   height: 8px; 
    width: 80px; 
    margin-top: 80px; 
    
    background-color: #FFB606;
}
.mahesh{
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center;
}

.pain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eren {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
    height: 100%;

    /* font-size: 15px; */
    /* background-color: red; */
}

.mikasa {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-left: 20px;
    padding: 40px;
}

.mitsuki {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 180px; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;


    /* padding-top: 54px;
    margin-left: 29px; */


}

.mikasa h1 {
    font-size: 27px;
    padding: 0px;
    height: fit-content;
    margin: 0px;
    /* margin-left: 15px; */
    /* line-height: 26px; */
}

.saitama {
    font-size: 14px;

    /* line-height: 0px;  */
    text-align: center;
    /* padding-left: 20px; */
    color: rgb(165, 165, 165);
    font-weight: 500px;

}

.jiraya {
    /* margin: 10px; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.mikasa :hover {
    color:
        rgb(165, 165, 165);
    font-weight: 500;
}

.boruto {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #EAEBEC;
    /* align-items: center; */


    /* justify-content: space-between; */

}

.logokolagi {
    display: flex;
    justify-content: center;
    align-items: center;




}

.iruka {
    height: 50px;
    width: 50px;
    border-radius: 90px;

}

.textkolagi {
    /* margin-top: 20px;
    margin-left: 20px ; */
    display: flex;
    padding-top: 23px;
}

/* .authorkolagi{
   
    
} */
.ratekolagi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB606;
    height: 60px;
    width: 100%;


}

/* .ramro{
  width: 100%;
  height: 300px;
  object-fit: cover; 
} */
/* .india{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
} */
.france {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.italy {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-left: 20px;
    padding: 40px;
}

.italy h1 {


    font-size: 27px;
    padding: 0px;
    height: fit-content;
    margin: 0px;


}

.hitler {

    font-size: 14px;


    text-align: center;

    color: rgb(165, 165, 165);
    font-weight: 500px;
}

.russia {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

.italy :hover {

    color:
        rgb(165, 165, 165);
    font-weight: 500;
}

.italy1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-left: 20px;
    padding: 40px;

}

.italy1 h1 {


    font-size: 27px;
    padding: 0px;
    height: fit-content;
    margin: 0px;


}

.italy1 :hover {

    color:
        rgb(165, 165, 165);
    font-weight: 500;
}

.hitler1 {

    font-size: 14px;


    text-align: center;

    color: rgb(165, 165, 165);
    font-weight: 500px;
}

.france1 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.authorkolagi {
    color: #A7A5A5;
}

.sita {

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    /* margin-left: 100px; */
    background-color: #FFB606;
    padding: 156px 0 161px 0;




}

.sita h1 {
    font-family: Roboto, sans-serif;
    margin-right: 50px;
    line-height: 30px;
    color: white;

}

.sita h1 span {
    color: #1A1A1A;
    margin-left: 20px;
}

.loo {
    margin-left: 30px;
}

.texttttt {
    font-family: Roboto, sans-serif;
    line-height: 35px;
    color: white;
    margin-left: 0%;
    font-size: 14px;
    font-weight: 500;


    /* padding-top: 50px;  */
    /* margin-left: 100px; */
}

.motu {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.kozzy h1 {
    display: flex;
    justify-content: center;

}

.samsung {
    font-family: Roboto, sans-serif;
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 35px;
    font-size: 14px;
    font-weight: 700;
    width: 202px;
    display: flex;
    justify-content: center;
    




}

.samsung:hover {
    box-shadow: 1px 1px 20px gray;
    /* color: red; */
}

.loki {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


}

.deadpool {
    font-family: Roboto, sans-serif;
    padding: 20px;
    background-color: green;
    width: 70%;
}

.marvel {

    font-family: Roboto, sans-serif;
    color: white;
    background-color: #FFB606;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    width: 70%;
    
    /* height: 48px; */
}

.marvel:hover {
    box-shadow: 1px 1px 20px gray;
}

.drstrange {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
   /* padding: 0px; */
    /* margin-bottom: 20px; */
 background-color: #FFFFFF; 






}

.supra {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 50px; Space between the items */
    padding: 50px;
}

.bmw {
    display: flex;
    flex-direction: column;
    align-items: start;

   /* background-color: red;  */
    margin: 50px auto;


    color: #FFB606;
}

.aaa {
    display: flex;
    margin: 0px auto;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 23px;
    color: #1A1A1A;


}

.ppp {
    margin-left: 72px;
}


.ccc {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0px auto;
    color: #A8A9AB;
    font-size: 15px;
    font-weight: 500;
    padding-top: 14px;
    line-height: 32.06px;
    /* background-color: red; */

}

.ddd {
    display: flex;
    flex-direction: column;
}

.eee {
    color: #FFB606;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: red; */
    margin: 80px auto;
    font-size: 50px;



}

.fff {
    display: flex;
    margin: 0px auto;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 23px;

}

.ggg {
    display: flex;
    margin: 0px auto;
    color: #A8A9AB;
    font-size: 15px;
    font-weight: 500;

    padding-top: 14px;
    line-height: 32.06px;
    font-family: Roboto, sans-serif;

}

.qqq {
    display: flex;
    color: #FFB606;
    flex-direction: column;
}

.rrr {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px auto;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 23px;

}

.uuu {
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.zzz{
    font-size: 18px;
    line-height: 30px;
    color: rebeccapurple;
    font-weight: 500px ;
}

.vvv {

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0px;
    right: 0px;
    flex-direction: column;



    height: 100%;
    width: 100%;


}

.ttt {
    position: relative;
    height: 100%;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: first baseline;
    color: black;
    text-align: center;
}

.here {
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

.here {
    display: flex;
    justify-content: center;
    color: #FFB606;
}

.UU {
    display: flex;
    flex-direction: row;

}

.ttt {
    position: relative;
}

.vvv {
    position: absolute;
}

.olk {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: 40px;

}

.popout {
     font-size: 36px; 
    font-weight: 500;
    color: #FFFFFF;
    font-family: Roboto, sans-serif; 
    /* font-size: 800px; */
}

.tjay {
    font-family: Roboto, sans-serif;
    color: #FFB606;
    margin-top: 20px;
    font-weight: 700;
}

.polog {
    margin-top: 10px;
    color: #EAEBEC;
}

/* .UU{
    font-family: Roboto,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    margin-top: 130px;
    font-size: 40px;
    
} */
.PP {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;

    font-size: 36px;


}


.UU {
    content: "";
    contain: "";
    height: 8px;
    width: 100px;
    background-color: #FFB606;

}

.KK {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    width: 80%;
    margin: 0px auto;

}

.event {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.date-box {
    border: 2px solid orange;
    padding: 20px;
    text-align: center;
    color: orange;
    min-width: 80px;
}

.date-box .day {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.date-box .month {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.event-info {
    flex: 1;
}

.event-info h2 {
    margin: 0 0 5px;
    font-family: Roboto, sans-serif;
}

.event-info h4 {
    margin: 0 0 10px;
    font-weight: 100px;
    color: #444;
    font-family: Roboto, sans-serif;

}

.event-info p {
    color: gray;
    line-height: 1.5;
}

.event-image img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    /* margin-right: 300px;  */
}

.NN {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;

    font-size: 36px;
    color: #EAEBEC;
    padding-top: 40px;


}

.HITLER {
    content: "";
    contain: "";
    height: 8px;
    width: 100px;
    background-color: #FFB606;

}

.NAZI {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    background-color: #1A1A1A;
    padding-top: 90px;
}

.lmao {
    display: flex;


    align-items: center;
    /* justify-content: center; */


}

.lmaoo {
    font-family: Roboto, sans-serif;
    padding: 0 0 0 27px;
    background-color: white;
    width: 502px;
    height: 42px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;  */
    /* text-align: center;  */
    color: #A5A5A5;
    align-items: center;


}

.isthis {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFB606;
    color: #FFFFFF;
    font-weight: 500;
    height: 42px;
    padding: 0 0 0 27px;
    width: 100px;



}

.llll {
    content: "";
    contain: "";
    height: 4px;
    width: 1250px;
    background-color: #333434;
    margin-left: 120px;



}

.mmmm {
    padding-top: 90px;
}

.logo1 {
    color: white;
    font-family: "Open Sans", sans-serif;

    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    font-size: 30px;


    font-weight: 800;
    padding-top: 50px;
}

.mainn {
    padding-top: 60px;
}

.mainn2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 100px;

}

.reddit {
    color: #A5A5A1;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.rajesh {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}

.gandu {
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    margin-right: 16px;


}

.ganduu {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    line-height: 28px;
    color: #A5A5A1;
}

.ganduu :hover {
    color: #FFB606;
}

.rajnigandha {
    padding-top: 110px;
    margin-left: 70px;
}

.dough {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.bhola {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;

}

.sikka {
    padding-top: 110px;
    margin-left: 80px;
}

.pilot {
    display: flex;
    line-height: 30px;

}

@media(max-width:480px) {
    .pratik {


        display: flex;
        flex-direction: column;

        gap: 20px;


        padding-left: 0px;
        width: 100%;
        top: 0px;
        padding-top: 10px;



    }

    .text {
        display: none;

    }

    .phoneno {

        justify-content: center;
        width: 100%;
        padding: 10px 0px;

    }

    .pic {
        height: 529px;
        position: relative;
    }



    .don h1 {


        text-align: center;
        font-size: 44px;
        padding-top: 0px;


    }

    .ich {
        position: absolute;
        flex-direction: column;
        /* bottom: -400px; */
        padding-top: 900px;
        width: 90%;
    }


    .itachi {

        /* padding-top: 100px; */
        margin: 0px;
        margin-top: 550px;

        /* background-color: green; */


    }

    .eren {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 50px;
        padding-right: 0px;
    }

    .mitsuki {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0px;
        margin-right: 0px;
    }

    .pain {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .orochimaru {
       width: 95%;
       display: flex;
       padding-right: 80px;
       
    }

    .hashirama {
        content: "";
        contain: "";
        height: 8px;
        width: 60px;
        background-color: #FFB606;
    }

    .motu {
        display: grid;
        grid-template-columns: 1fr;


    }

    .supra {
        grid-template-columns: 1fr;
        padding: 0px;
        width: 100%;
    }

    .drstrange {
        padding-top: 17px; 
        font-size: 20px;
       
    }

    .bmw {
        margin-right: 50px;
        padding-top: 30px;
        gap: 10px;
    }

    .event-container {
        grid-template-columns: 1fr;
        display: grid;

        padding-top: 60px;
        width: 100%;
        margin: 0px auto;
    }

    .event-info {
        flex: 1;
    }

    .event {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
    }

    .event-info h2 {
        display: flex;
        justify-content: center;
    }

    .event-info h4 {
        display: flex;
        justify-content: center;
    }

    .event-image img {
        width: 400px;

    }

    .HITLER {
        content: "";
        contain: "";
        height: 8px;
        width: 100px;

    }

    .NAZI {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
        background-color: #1A1A1A;
        padding-top: 90px;
    }

    .NN {

        font-size: 25px;


    }

    .lmao {
        display: flex;
        width: 80%;


        align-items: center;
        /* justify-content: center; */


    }

    .mainn2 {
        display: grid;
        grid-template-columns: 1fr ;


        gap: 7px;

        flex-wrap: wrap;

        margin: 0px;

    }

    .rajesh {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
        padding-left: 80px;
    }

   

    

    .sita h1 {
        font-size: 25px;
       margin-left: 60px;
        width: 100%;
    }
  

    .texttttt {
        margin-left: 20px;
    }

    .bbb {
       display: flex;


    }
    .kai{
    
    display: flex;
    width: 70%;
    padding: 50px;

    }
    .pain {
    display: flex;
    padding-top: 150px;
}
.mitsuki {
    display: flex;
    flex-direction: column;
}
.boruto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EAEBEC;
    font-size: 14px;
    margin-right: 35px;
}
.italy {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 14px;
    line-height: 10px;
}
.italy h1 {
    font-size: 22px;
    
}
.mikasa h1{
    font-size: 22px;
}
.mikasa{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 14px;
    line-height: 10px;
}
.italy1 h1{
 font-size: 22px;
}
.italy1{
    margin-right: 14px;
    line-height: 10px; 
}
.aaa{
 /* background-color: red; */
 /* margin-right: 80px; */
 width:150px ;
 margin-right: 150px;


}
.wethebest1{
    margin-bottom: 20px;
}
.supra {
    /* width: 90%; */
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 50px; */
}
.bbb{
    display: flex;
    flex-direction: column;
   margin-right: 190px;
    /* justify-content: first baseline; */
    align-items: first baseline;
}

.supra{
    margin-left: 20px;
}
.popout{
    font-size: 20px;
    margin-bottom: 55px;
}
.zzz{
    font-size: 15px;
    padding-top: 24px;
}
.migoss{
    display: flex;
    flex-direction: column;
     align-items: start;
    margin-left: 15px;
}
.event {
  display: flex;
  flex-direction: column;
}

.event-image {
  order: -1; /* Moves image above text */
}
.logo1{
    margin-right: 100px;
}
.rajesh{
    display: flex;
    flex-direction: column;
    margin-right: 350px;
}
.llll {
   width: 300px;
    
    display: flex;
   
}
.sikka{
   display: flex;
   flex-direction: column;
   margin-right: 20px;
}

}
